.navbar.custom-nav{
    background: transparent;
    z-index: 1000;
    color:#fff;
    padding: 15px 60px;
    padding-top:48px;
    .navbar-collapse {
        justify-content: flex-end;

        a.nav-link {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 20px;
        }

    }
}